.scores-container {
    background-color: #ebebeb;
    height: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.scores-title {
    display: block;
    font-size: 2em;
    font-weight: bold;
    padding: 40px;
}

.ag-header-cell-label {
    justify-content: center;
}

.pagination-button {
    border: 1px solid #0066cc;
    background-color: #0099cc;
    color: #ffffff;
    padding: 5px 10px;
    margin: 20px;
    width: 200px;
    font-size: 28px;
}

.pagination-button:hover {
    border: 1px solid #0099cc;
    background-color: #00aacc;
    color: #ffffff;
    padding: 5px 10px;
    width: 200px;
    font-size: 28px;
}

.pagination-button:disabled,
.pagination-button[disabled]{
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
}

.search {
    width: 30%;
    padding: 5px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    border: 3px solid white;
    outline: none;
    margin: 20px;
    font-size: 24px;
    font-weight: bold;
    color: blue;
}

.search:focus{
    border: 3px solid blue;
}

.stats {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-weight: bold;
}

.set-page {
    width: 90px;
    padding: 5px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    border: 3px solid white;
    outline: none;
    margin: 20px;
    font-size: 24px;
    font-weight: bold;
    color: blue;
    text-align: center;
}

.set-page-text {
    font-weight: bold;
}